/* General Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}

@keyframes logoAnimation {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.header__logo img {
    max-width: 150px;
    animation: logoAnimation 2s ease-out;

}

.header__nav ul {
    display: flex;
    column-gap: 40px;
}

li {
    display: block;
}

ul .header__nav-item a:not(.home-link) {
    opacity: 0.5;
}
.menu-icon {
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
}

.menu-icon .line {
    background-color: #000;
    height: 4px;
    border-radius: 2px;
}

/* Стили для малих екранів */
@media (max-width: 799px) {
    .header__nav {
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 200px;
    background-color: #f1f1f1;
    z-index: 2;
    margin-top: 70px;
    
    }

    .header__nav.open {
    opacity: 1;
    }

    .zalupa {
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px; 
        margin-top: 20px;
    }
    .header__nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    }

    .header__nav ul li {
    margin: 0 15px;
    }


    .menu-icon {
    display: flex; 
    position: absolute;
    top: 15px;
    right: 20px;
    }
}


