.hero__inner {
    width: 427px;
    padding-top: 191px;
    padding-bottom: 10px;
}

.hero__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.hero__paragraph {
    color: #7D7987;
    font-size: 21px;
    font-weight: 300;
    line-height: 32px; 
    height: auto;
    width: auto;
}

.hero__img {
    max-width: 693px;          
    margin-left: 109px;    
    height: auto;    
}

.hero__button {
    margin-top: 48px;
}

p {
    margin: 0;
}

.hero {
    position: relative;
    overflow: hidden;
    background-image: url(../images/trafalgar-header-illustration1.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 650px 540px;
}

.hero::before {
    content: "";
    position: absolute;
    width: 131.581px;
    height: 115px;
    background-image: url(../images/element1.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    margin-left: -5%;
    margin-top: 5%;
    opacity: 0.3;
}